* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.8rem;
  background-color: #e3e7ff;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  background-color: #F8F9FF;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header-wrapper {
  min-height: 81.5rem;
  width: 100%;
  background-image: url("/img/background-top.png");
  background-position: bottom;
  background-size: cover;
  padding: 5rem min(12.5%, 21rem);
}

.header {
  display: flex;
  align-items: center;
}

.main-wrapper {
  padding: 5rem min(12.5%, 21rem);
}

.footer-wrapper {
  width: 100%;
  background-image: url("/img/background-bottom.png");
  background-position: top;
  background-size: cover;
  padding: 5rem min(12.5%, 21rem);
}

a:link,
a:visited {
  font-size: 1.6rem;
  color: #8794BA;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  transform: translateY(-2px);
  color: #FFF;
}

.btn {
  padding: 1rem 5.3rem;
  border-radius: 6.8rem;
  background-color: transparent;
  border: 1px solid #465B95;
  font-size: 1.6rem;
  color: #8794BA;
  transition: all 0.2s;
}

.btn:hover {
  color: #172755;
  background-color: #FFF;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn--colored {
  color: #FFF;
  border: 1px solid #EF2A82;
  background-color: #EF2A82;
}
.btn--colored:hover {
  border: 1px solid #0F1F4B;
}

.heading-1 {
  color: #FFF;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-2 {
  color: #172755;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.heading-4 {
  color: #172755;
  font-size: 1.6rem;
  font-weight: 700;
}

.heading--light {
  color: #FFF;
}

.mt-xhg {
  margin-top: 27rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.mb-xhg {
  margin-bottom: 12rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logo__img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.2rem;
}
.logo__text {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__list {
  margin-left: 5vw;
  display: flex;
  list-style: none;
}
.nav__link:link, .nav__link:visited {
  display: block;
  padding: 1.8rem;
}

.auth-box {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}

.intro {
  display: flex;
  align-items: center;
  width: 100%;
}
.intro__box-left {
  width: 50%;
  padding-right: 5%;
}
.intro__box-right {
  width: 50%;
  position: relative;
}
.intro__img-big {
  display: block;
  max-width: 80rem;
  margin-left: 7rem;
  border-radius: 3rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}
.intro__img-small {
  display: block;
  position: absolute;
  top: 13rem;
  left: 0;
  border-radius: 3rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}

.main__features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__features p {
  max-width: 106rem;
  text-align: center;
}
.main__features-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  justify-items: center;
  gap: 2rem;
}
.main__features-box img {
  filter: invert(35%) sepia(79%) saturate(6157%) hue-rotate(318deg) brightness(99%) contrast(89%);
}
.main__charts {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}
.main__charts-box {
  display: flex;
  gap: 10rem;
}
.main__charts-box--left {
  flex-basis: 45%;
}
.main__charts-box--right {
  flex-basis: 55%;
}
.main__charts-box--right img {
  width: 100%;
}

.flex-reverse-order {
  order: 2;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__cards {
  display: flex;
  gap: min(8rem, 5vw);
  justify-content: center;
  align-items: center;
}
.pricing__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34rem;
  padding: 5rem 6rem 7rem;
  border-radius: 3rem;
  background-color: #0F1F4B;
  transition: all 0.2s;
}
.pricing__card:hover {
  transform: translateY(-6px);
}
.pricing__card--active {
  background-color: #FFF;
}
.pricing__card--active .pricing__title {
  color: #172755;
}
.pricing__card--active .pricing__price {
  color: #172755;
}
.pricing__title {
  color: #FFF;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.pricing__line {
  width: 100%;
  border-top: 1px solid #465B95;
}
.pricing__price {
  color: #FFF;
  font-size: 6rem;
  font-weight: 700;
}
.pricing__price small {
  font-size: 3rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo__img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.2rem;
}
.footer-logo__text {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer .footer-nav__list {
  display: flex;
  list-style: none;
}
.footer .footer-nav__link:link, .footer .footer-nav__link:visited {
  display: block;
  padding: 1.8rem;
}
.footer .footer-socials {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}
.footer .footer-socials img:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%) hue-rotate(93deg) brightness(110%) contrast(100%);
}/*# sourceMappingURL=styles.css.map */