a {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: $color-text-secondary;
    text-decoration: none;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-2px);
    color: $color-white;
  }

  &:active {
    transform: translateY(0);
  }
}

.btn {
  padding: 1rem 5.3rem;
  border-radius: 6.8rem;
  background-color: transparent;
  border: 1px solid $color-line;
  font-size: 1.6rem;
  color: $color-text-secondary;
  transition: all 0.2s;
}

.btn:hover {
  color: $color-text-main;
  background-color: $color-white;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn--colored {
  color: $color-white;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  &:hover {
    border: 1px solid $color-card-dark;
  }
}

.heading-1 {
  color: $color-white;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  @media screen and (max-width: 75em) {
    font-size: 4rem;
  }
}

.heading-2 {
  color: $color-text-main;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  @media screen and (max-width: 75em) {
    font-size: 3.5rem;
  }
}

.heading-4 {
  color: $color-text-main;
  font-size: 1.6rem;
  font-weight: 700;
}

.heading--light {
  color: $color-white;
}

.mt-xhg {
  margin-top: 27rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
.mb-xhg {
  margin-bottom: 12rem;
}

//-----------------HEADER------------//
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.2rem;
  }

  &__text {
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.nav {
  &__list {
    margin-left: 3vw;
    display: flex;
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    display: block;
    padding: 1.8rem;
  }

  @media screen and (max-width: 75em) {
    display: none;
  }
}

.auth-box {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;

  @media screen and (max-width: 75em) {
    display: none;
  }
}

.menu-bar {
  display: none;
  width: 6.5rem;
  padding: 1rem;
  cursor: pointer;

  @media screen and (max-width: 75em) {
    display: block;
  }
}

.line {
  height: 5px;
  line-height: 1.8;
  width: 100%;
  background-color: $color-primary;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;

  &:not(:last-child) {
    margin-bottom: 0.4rem;
  }

  &--first {
    transform: translateY(-4px);
  }
  &--third {
    transform: translateY(4px);
  }
}

.menu-dropdown {
  // display: none;
  visibility: hidden;
  height: 0;
  min-width: 20rem;
  position: absolute;
  top: 10rem;
  right: 12rem;
  background-color: $color-dropdown;
  border-radius: 1.2rem;
  list-style: none;
  z-index: 1;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &__item {
    width: 100%;
    &:hover {
      background-color: $color-card-dark;
      cursor: pointer;
      & a {
        transform: initial;
      }
    }
  }

  &__item:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  &__item:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    a {
      font-size: 2rem;
    }
  }
  &__item:nth-last-child(-n + 2) a {
    font-size: 2rem;
  }

  & a {
    display: block;
    padding: 1rem 0;
    width: 100%;
    line-height: 1.5;
    text-align: center;
    color: $color-white;
    transition: initial;
  }
}

.menu-dropdown.open {
  // display: block;
  visibility: visible;
  height: 27.6rem;


  @media screen and (max-width: 40em) {
    right: 4rem;
    left: 4rem;
  }
  @media screen and (max-width: 30em) {
    right: 0;
    left: 0;
  }
}

.menu-bar.open {
  & .line--first {
    transform: translateY(9px) rotateZ(-45deg);
  }
  & .line--second {
    opacity: 0;
  }
  & .line--third {
    transform: translateY(-9px) rotateZ(45deg);
  }
}



//------------INTRO-------------//

.intro {
  display: flex;
  align-items: center;
  width: 100%;

  &__box-left {
    min-width: 60%;
    padding-right: 5%;
  }
  &__box-right {
    min-width: 40%;
    position: relative;
  }

  &__img-big {
    display: block;
    max-width: 80rem;
    margin-left: 7rem;
    border-radius: 3rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    @media screen and (max-width: 75em) {
      max-width: 50rem;
      margin-left: 7rem;
    }
  }
  &__img-small {
    display: block;
    position: absolute;
    top: 13rem;
    left: 0;
    border-radius: 3rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    @media screen and (max-width: 75em) {
      max-width: 30rem;
      top: 8rem;
    }
  }
}

//------------MAIN-------------//

.main {
  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__features p {
    max-width: 100rem;
    text-align: center;
  }

  &__features-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    justify-items: center;
    gap: 2rem;

    & img {
      filter: invert(35%) sepia(79%) saturate(6157%) hue-rotate(318deg)
        brightness(99%) contrast(89%);
    }
  }

  &__charts {
    display: flex;
    flex-direction: column;
    gap: 12rem;
  }

  &__charts-box {
    display: flex;
    gap: 10rem;

    &--left {
      flex-basis: 45%;
    }

    &--right {
      flex-basis: 55%;

      & img {
        width: 100%;
        border-radius: 2rem;
        box-shadow: 6px 6px 14px $color-shadow;
      }
    }
  }
}

.flex-reverse-order {
  order: 2;
}

//------------PRICING-------------//

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    text-align: center;
  }

  &__cards {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 75em) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34rem;
    padding: 5rem 6rem 7rem;
    border-radius: 3rem;
    background-color: $color-card-dark;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-6px);
    }
  }

  &__card--active {
    background-color: $color-white;
    .pricing__title {
      color: $color-text-main;
    }
    .pricing__price {
      color: $color-text-main;
    }
  }

  &__title {
    color: $color-white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
  }

  &__line {
    width: 100%;
    border-top: 1px solid $color-line;
  }

  &__price {
    color: $color-white;
    font-size: 6rem;
    font-weight: 700;

    small {
      font-size: 3rem;
    }
  }
}
//------------FOOTER-------------//

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    display: flex;
    align-items: center;

    &__img {
      width: 4rem;
      height: 4rem;
      margin-right: 1.2rem;
    }

    &__text {
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .footer-nav {
    &__list {
      display: flex;
      list-style: none;
    }

    &__link:link,
    &__link:visited {
      display: block;
      padding: 1.8rem;
    }
  }

  .footer-socials {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;

    img:hover {
      filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%)
        hue-rotate(93deg) brightness(110%) contrast(100%);
    }
  }
}
