.container {
  max-width: 160rem;
  margin: 0 auto;
  background-color: $color-background;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header-wrapper {
  min-height: 81.5rem;
  width: 100%;
  background-image: url("../img/background-top.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 12.5%;

  @media screen and (max-width: 75em) {
    padding: 5rem 7% 0;
    background-position: 0 -22rem;
  }
  @media screen and (max-width: 60em) {
    min-height: 115rem;
  }
  @media screen and (max-width: 40em) {
    padding: 2rem 5% 0;
    min-height: 99rem;
  }
  @media screen and (max-width: 30em) {
    min-height: 89rem;
  }
}

.header {
  display: flex;
  align-items: center;
  @media screen and (max-width: 75em) {
    justify-content: space-between;
  }
}

.main-wrapper {
  padding: 5rem 12.5%;
  @media screen and (max-width: 75em) {
    padding: 5rem 7%;
    margin-top: -25rem;
  }
  @media screen and (max-width: 40em) {
    padding: 2rem 5%;
  }
}

.footer-wrapper {
  width: 100%;
  background-image: url("../img/background-bottom.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 12.5%;
  @media screen and (max-width: 75em) {
    padding: 5rem 7%;
    margin-top: -20rem;
  }
  @media screen and (max-width: 40em) {
    padding: 2rem 5%;
  }
}
