.container {
  max-width: 160rem;
  margin: 0 auto;
  background-color: $color-background;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  overflow: hidden;
}

.bg-wrapper {
  min-height: 81.5rem;
  width: 100%;
  background-image: url('/img/background-top.png');
  background-position: bottom;
  background-size: cover;
  padding: 5rem min(12.5%, 21rem);
}

.header {
  display: flex;
  align-items: center;
}